{% extends 'base.html' %}

{% block title %}Главная | Stars Learn{% endblock %}

{% block content %}

<div class="card card-portal p-5">
    <h2 class="mb-3">Добро пожаловать в Stars Learn</h2>

    <p class="text-muted">
        Внутренний образовательный портал сети кофеен.
        Платформа создана для системного обучения, повышения
        квалификации и поддержки единых стандартов качества.
    </p>

    <hr>

    <p>
        Здесь вы можете изучать материалы, повторять стандарты
        и проходить тренажёр для закрепления знаний.
    </p>
</div>

{% endblock %}